<div style="background-color: black; border-bottom: 8px solid red">
  <div style="text-align: right">
    <button style="margin: 10px" class="btn btn-primary">Log in</button>
    <button style="margin: 10px" class="btn btn-primary">Free Sign up</button>
  </div>
  <div style="text-align: center">
    <h2 style="color: white">Lilcoomers</h2>
  </div>
  <div style="text-align: center; margin: 15px">
    <input placeholder="type something...">
    <button type="submit"><i class="bi bi-search" ></i></button>
  </div>
</div>
<!--..................................................................................................................-->
<nav>
  <a routerLink="/menu">mm</a>
  <a routerLink="/home">Heroes</a>

</nav>
<router-outlet></router-outlet>
<p #app>...</p>

<!--[ngSwitch] & *ngSwitchCase-->
<!--using input variable-->
<div [ngSwitch]="switchKey">
  <menu-component *ngSwitchCase="'key1'"></menu-component>
  <switch-page-component   *ngSwitchCase="'key2'"   [inputVariableName]= 40  (outputVariableName)="emptyFunc()"></switch-page-component>
  <form-component *ngSwitchCase="'key3'"></form-component>
</div>


