<div style="position: fixed; width: 100%; left: 0">
<div style="background-color: black; border-bottom: 8px solid red">
  <div class="container-xxl" style="max-width: 1920px">
    <div class="row" style="left: 0">
    <div style="text-align: left" class="col">
      <button  style="margin: 10px; width: 150px; padding: 0" class="btn btn-secondary">


          <button  class="glow-red" style="background-color: red;height: 30px; width: 30px; border-radius: 20px; margin: 3px"></button>
            <button class="glow-blue" style="background-color:blue;height: 30px;width: 30px; border-radius: 20px; margin: 3px"></button>
           <button class="glow-yellow" style="background-color: yellow;height: 30px;width: 30px; border-radius: 20px; margin: 3px"></button>
           <button class="glow-green" style="background-color: green;height: 30px;width: 30px; border-radius: 20px; margin: 3px"></button>


      </button>
    </div>
  <div style="text-align: right" class="col">
    <button style="margin: 10px" class="btn btn-primary">Log in</button>
    <button style="margin: 10px" class="btn btn-primary">Free Sign up</button>
  </div>
  </div>
  <div style="text-align: center">
    <h2 style="color: white">Lilcoomers</h2>
  </div>
  <div style="text-align: center; margin: 15px">
    <input placeholder="type something..." style="width: 350px; background-color: white; color: black;"  class="cursor btn btn-primary">
    <button type="submit" class="btn btn-primary"><i class="bi bi-search" ></i></button>
  </div>
</div>
</div>
<!--..................................................................................................................-->
<nav style="background-color: brown;">
  <a routerLink="/home">home</a>
  <a routerLink="/menu">menu</a>
  <a routerLink="/account">account</a>
  <a routerLink="/form">form</a>
  <a routerLink="/music">music</a>
</nav>
</div>
<div style="margin-top: 160px">
<b><p #app style="text-align: center">...</p></b>
<router-outlet></router-outlet>
</div>
<div class="footer" >
<p>This is footer</p>
</div>

