<!--local reference #-->
<div class="container-fluid">
 <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input #email  type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input #password type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input #address  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <button (click)="onAddUser(email.value, address.value, password.value, $event)"  type="submit" class="btn btn-primary">add</button>
 </form>


<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Email</th>
    <th scope="col">address</th>
    <th scope="col">password</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let formSample of forms; let i=index">
    <th scope="row" >{{i+1}}</th>
    <td>{{formSample.email}}</td>
    <td>{{formSample.address}}</td>
    <td>{{formSample.password}}</td>
  </tr>
  </tbody>
</table>
</div>
